* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: var(--text-gray);
  overflow-y: hidden;
  height: 100vh;
}

p {
  font-size: 15px;
}

:root {
  --text-gray: #eee;
  --gray--border: rgba(255, 255, 255, 30%);
  --text-dark: #222;
  --text-secondary: #545454;
}

.flex {
  display: flex;
}

.app__body {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.app {
  width: 100%;
  height: 100vh;
}

/* 
@media(max-width: 400px) {
  .app__body {
    grid-template-columns: 1fr;
  }

  .app__body>div:first-child {
    display: none;
  }
} */